<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OggettiUsati"
        tools:targetApi="31">
        <activity
            android:name=".RecensioniActivity"
            android:exported="false" />
        <activity
            android:name=".AggiungiOggettoActivity"
            android:exported="false"
            android:label="@string/title_activity_aggiungi_oggetto"
            android:theme="@style/Theme.OggettiUsati.NoActionBar" />
        <activity
            android:name=".DettaglioOggettoActivity"
            android:exported="false" /> <!-- Bisogna indicare la nuova Activity, il sistema operativo, Android sa che esiste e che puó avviarla quando lo chiediamo -->
        <activity android:name=".SignUpActivity" />
        <activity android:name=".UserLoginActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".chat.ChatActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>